<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FloatingTimer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FloatingTimer"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FloatingService"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Floating timers to display on top of other apps" />
        </service>

        <!--        <service-->
        <!--            android:name=".tmp.tmp01.ProcessNameService"-->
        <!--            android:foregroundServiceType="specialUse"-->
        <!--            android:process=":floatingservice"-->
        <!--            android:stopWithTask="false">-->
        <!--            <property-->
        <!--                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"-->
        <!--                android:value="Floating timers to display on top of other apps" />-->
        <!--        </service>-->

        <activity
            android:name=".DeepLinkActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.FloatingTimer"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="floatingtimer" />
            </intent-filter>
        </activity>


        <!--todo remove-->
        <receiver
            android:name=".tmp.tmp02.TmpBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.snippets.ACTION_UPDATE_DATA" />
            </intent-filter>
        </receiver>


    </application>
</manifest>